.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo img {
  height: 160px;
  width: auto;
  object-fit: contain;
}

.header {
  position: fixed;   /* 👈 lo fija en pantalla */
  width: 100%;
  height: 10vh;
  background: #ffffff;
  color: rgb(255, 255, 255);
  padding: 0 0; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center; /* centra verticalmente el contenido */
  z-index: 1000;
}

.header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px; /* espacio entre carrito y perfil */
}


.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background 0.3s;
}

.nav a:hover {
  background: rgba(0, 0, 0, 0.199);
}

.cart-link {
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  background: #043c69;
  border-radius: 20px;
  transition: background 0.3s;
}

.cart-link:hover {
  background: #386fb3;
}

@media (max-width: 992px) {
  .header {
    height: auto;
    padding: 10px 0;
  }

  .logo img {
    height: 80px;
  }

  .nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  .header-actions {
    flex-direction: column;
    gap: 10px;
  }

  .cart-link {
    width: 100%;
    text-align: center;
  }
}